.container {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    text-align: center;
}

button{
    margin-top: 8px;
    margin-bottom: 8px;
}

.box {
    margin: auto;
    width: 150px;
    height: 150px;
    border: none;
    padding: 14px;
    background: yellow;
}